POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your_postgres_password>
REDIS_PASSWORD=<your_redis_password>

#Kafka admin (broker inter-broker + admin ops)
KAFKA_ADMIN_USERNAME=kafka-admin
KAFKA_ADMIN_PASSWORD=changeme_kafka_admin

#Kafka client (used by all spring services + Connect)
KAFKA_CLIENT_USERNAME=kafka-client
KAFKA_CLIENT_PASSWORD=changeme_kafka_client

